<h1 class= center_tag>ブログ詳細画面</h1>
<p class= center_tag>タイトル: <%= @blog.title %></p>
<p class= center_tag>内容: <%= @blog.content %></p>
<p id="notice"><%= notice %></p>

<p class= center_tag>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url %>
</p>
