 @import "bootstrap";
 html{position: relative;
   min-height:100%;
 }
 .top{
   position: relative;
   min-height:100%;
   background-color:#1a63d0;
   color:#ffffff;
   font-size:  40px;
 }
 a:hover{
   text-decoration:none;
 }
 .section-padding {
 	 padding: 20px 0;
 }
 .bottom {
   background-color: #1a63d0;
 }
 .bottom .copyright {
   color: #ffffff;
   font-weight: 600;
 }
 .copyright a {
   color: #ffffff;
   margin-left: 3px;
   padding-right: 3px;
 }
 .bottom p {
   margin-bottom: 0;
   line-height: 50px;
   font-size: 16px;
   font-weight: 400;
 }
 .copyright p span {
   color: #ffffff;
 }
 .bottom .copyright p, .bottom .copyright a:hover{
   color: #ffffff;
 }
 body {
   position: relative;
   background-color:  #ddd;
   padding-bottom: 120px;
 }

 .footer{
   position: fixed;
   bottom: 0;
   width: 100%;
 }
 .btn {
   background-color: #C0C0C0;
 }
 .center_tag{
   padding: 20px;
   text-align:  center;
   margin:  0 auto;
   background-color:  #ddd;
   height: 20px;
 }
 .index_position{
   margin:  0 auto;
   text-align:  center;
 }
 .submit_tag{
   text-align:  center;
 }
 .image_tag{
   text-align:  center;
 }
